.c-head{
    color: #324545;
    font-size: 50px;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-bottom: 20px;
    padding-top: 50px;
    position: relative;
    font-family: "Oswald", "Open Sans", sans-serif;
    

} 
.line-container {
    width: 250px;
    color: aqua;
    margin: 0 auto; /* Center alignmefgnkrnt */
    text-align: center;
    cursor: pointer;
  }
  .line-container .line {
    border-bottom: 2px solid aqua;
    line-height: 0.1em; 
    margin: 10px 0;
  }
  .line-container .line span {
    background: white; /* To cover the 'O' */
    padding: 0 10px;
  }
.c-content{
    padding-top: 10px;
    padding-bottom: 10px;
}
.c-para{
    font-size: 30px;
    padding-top: 20px;
    text-align: center;
    font-family: monospace;
    line-height: inherit;
   
}
.cus-img{
  height: 60vh;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
