.owl{
    background: #39354c;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.count{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-right: 100px;    
}
.count span{
    font-size: 60px;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;

}
.num{
    
}
