
.head{
    background-color: red;
}
img.foto {
    width: 100%;
    height: 300px;
}
.contact_add{
    text-decoration: none;
}
a{
    text-decoration: none;
    color: rebeccapurple;
}
.india_info{
    text-align: left;
}
h3 {
    text-align: justify;
    color: red;
    text-transform: uppercase;
}
h1{
    color: red;
}
.contact_add{
   /* background-color: aqua;*/
    text-align: -webkit-left;
    font-size: 20px;
    
}
.main_form{
    font-weight: bolder;
    text-transform: uppercase;
}
.buttn{
    text-transform: uppercase;
    width: 200px;
}
.dot{
    color: red;
}